/* Start Font Import */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* End Font Import */

/* Start Tailwind Link */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* End Tailwind Link */

/* Start Root Variables */
:root {
  /* === Fonts === */
  --font-heading: "Playfair Display", serif;
  --font-body: "Lora", serif;

  /* === Light Theme Colors === */
  --color-bg: #f3f0e8;
  --color-primary: #2f3e46;
  --color-accent: #c44536;
  --color-secondary: #e0a458;
  --color-highlight: #aab7b8;

  /* === Dark Theme Colors === */
  --color-dark-bg: #1b1b1b;
  --color-dark-primary: #aebabf;
  --color-dark-accent: #e05e4b;
  --color-dark-secondary: #d1a25f;
  --color-dark-highlight: #838e91;

  /* === Borders & Transitions === */
  --border-radius: 8px;
  --transition-duration: 0.3s;

  /* === Icon Sizes === */
  --icon-size-xl: 32px;
  --icon-size-lg: 28px;
  --icon-size-md: 24px;
  --icon-size-sm: 20px;
  --icon-size-xs: 16px;

  /* === Section Padding === */
  --padding-xl: 120px;
  --padding-lg: 100px;
  --padding-md: 80px;
  --padding-sm: 60px;
  --padding-xs: 40px;

  /* === Heading Sizes === */
  --heading-xl: 48px;
  --heading-lg: 40px;
  --heading-md: 32px;
  --heading-sm: 24px;
  --heading-xs: 20px;

  /* === Subheading Sizes === */
  --subheading-xl: 28px;
  --subheading-lg: 24px;
  --subheading-md: 20px;
  --subheading-sm: 18px;
  --subheading-xs: 16px;

  /* === Paragraph Sizes === */
  --paragraph-xl: 20px;
  --paragraph-lg: 18px;
  --paragraph-md: 16px;
  --paragraph-sm: 14px;
  --paragraph-xs: 12px;

  /* === Subparagraph Sizes === */
  --subparagraph-xl: 16px;
  --subparagraph-lg: 14px;
  --subparagraph-md: 12px;
  --subparagraph-sm: 10px;
  --subparagraph-xs: 8px;
}
/* * End Root Variables */

/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: var(--font-body);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: var(--font-heading) !important;
  font-weight: bold;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
footer {
  font-size: var(--subparagraph-xs);
  color: #7391a1;
}
@media (min-width: 576px) {
  footer {
    font-size: var(--subparagraph-sm);
  }
}
@media (min-width: 768px) {
  footer {
    font-size: var(--subparagraph-md);
  }
}
@media (min-width: 992px) {
  footer {
    font-size: var(--subparagraph-lg);
  }
}
@media (min-width: 1200px) {
  footer {
    font-size: var(--subparagraph-xl);
  }
}
/* End Global Rules */

/* Start Custom Classes */
/* === Light Section Design === */
.light-page,
.dark-page {
  width: 100%;
  min-height: 100vh;
}
.light-page {
  padding: 0 var(--padding-xs);
  background: linear-gradient(to bottom, #fdfdfc 0%, #faf8f5 30%, #f8f6f2 60%);
  color: var(--color-primary);
}
.dark-page {
  background: linear-gradient(to bottom, #1b1b1b 0%, #141414 30%, #0a0a0a 60%);
  color: var(--color-dark-primary);
}
@media (min-width: 576px) {
  .light-page {
    padding: 0 var(--padding-sm);
  }
}
@media (min-width: 768px) {
  .light-page {
    padding: 0 var(--padding-md);
  }
}
@media (min-width: 768px) and (min-height: 760px) {
  .dark-page {
    padding: 0 var(--padding-md) 0 calc(var(--padding-md) + 100px);
  }
}
@media (min-width: 992px) {
  .light-page {
    padding: 0 var(--padding-lg);
  }
}
@media (min-width: 992px) and (min-height: 760px) {
  .dark-page {
    padding: 0 var(--padding-lg) 0 calc(var(--padding-lg) + 100px);
  }
}
@media (min-width: 1200px) {
  .light-page {
    padding: 0 var(--padding-xl);
  }
}
@media (min-width: 1200px) and (min-height: 760px) {
  .dark-page {
    padding: 0 var(--padding-xl) 0 calc(var(--padding-xl) + 100px);
  }
}
.light-page .my-container,
.dark-page .my-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  padding: 60px 15px;
}
.light-page .my-container {
  gap: 2.5rem;
}
.dark-page .my-container {
  padding: 1rem 15px 2.5rem;
}
/* === Forms Design === */
.sign-form {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0 40px;
}
/* === Primary Button Design === */
.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 16px;
  font-size: var(--paragraph-sm);
  font-weight: 600;
  color: #fff;
  background-color: var(--color-accent);
  border: none;
  border-radius: var(--border-radius);
  text-transform: capitalize;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.btn-primary i {
  transition: transform var(--transition-duration);
}
.btn-primary:focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
}
@media (min-width: 768px) {
  .btn-primary {
    font-size: var(--paragraph-md);
    width: 320px;
    padding: 20px;
  }
  .btn-primary:hover {
    background-color: var(--color-secondary);
  }
  .btn-primary:hover i {
    transform: translateX(-4px);
  }
}
@media (min-width: 992px) {
  .btn-primary {
    font-size: var(--paragraph-lg);
  }
}
@media (min-width: 1200px) {
  .btn-primary {
    font-size: var(--paragraph-xl);
  }
}
/* === Inputs Design === */
.input-field {
  text-transform: none;
  width: 100%;
  padding: 16px 12px;
  font-size: var(--paragraph-xs);
  text-align: center;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-secondary);
  outline: none;
  caret-color: var(--color-secondary);
  margin-bottom: 1.5rem;
  transition: border-color var(--transition-duration),
    background-color var(--transition-duration);
}
.input-field:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: var(--color-primary) !important;
  transition: background-color 9999s ease-out, color 9999s ease-out;
}
.input-field + .btn-bottom {
  margin-top: 15px;
}
.input-field::placeholder {
  color: var(--color-highlight);
  font-size: var(--paragraph-xs);
  opacity: 0.9;
}
@media (min-width: 576px) {
  .input-field {
    font-size: var(--paragraph-sm);
    padding: 20px 14px;
  }
  .input-field::placeholder {
    font-size: var(--paragraph-sm);
  }
}
@media (min-width: 768px) {
  .input-field {
    font-size: var(--paragraph-md);
    max-width: 500px;
  }
  .input-field::placeholder {
    font-size: var(--paragraph-md);
  }
}
@media (min-width: 992px) {
  .input-field {
    font-size: var(--paragraph-lg);
    padding: 20px 14px;
  }
  .input-field::placeholder {
    font-size: var(--paragraph-lg);
  }
}
@media (min-width: 1200px) {
  .input-field {
    font-size: var(--paragraph-xl);
    padding: 20px 14px;
  }
  .input-field::placeholder {
    font-size: var(--paragraph-xl);
  }
}
.input-field:focus {
  border-bottom-color: var(--color-accent);
}
/* === Dark and Light Heading Design === */
.main-heading-dark,
.main-heading-light {
  font-size: var(--heading-xs);
  margin-bottom: 2rem;
  text-align: center;
  line-height: 1.2;
}
.main-heading-dark {
  color: var(--color-primary);
  text-shadow: 2px 2px 3px var(--color-highlight);
}
.main-heading-light {
  color: var(--color-dark-primary);
  text-shadow: 2px 2px 3px var(--color-dark-highlight);
}
@media (min-width: 576px) {
  .main-heading-dark,
  .main-heading-light {
    font-size: var(--heading-sm);
  }
}
@media (min-width: 768px) {
  .main-heading-dark,
  .main-heading-light {
    font-size: var(--heading-md);
  }
}
@media (min-width: 992px) {
  .main-heading-dark,
  .main-heading-light {
    font-size: var(--heading-lg);
  }
}
@media (min-width: 1200px) {
  .main-heading-dark,
  .main-heading-light {
    font-size: var(--heading-xl);
  }
}
.main-heading-dark .my-underline,
.main-heading-light .my-underline {
  position: relative;
  display: inline-block;
}
.main-heading-dark .my-underline::after,
.main-heading-light .my-underline::after {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: -2px;
  right: 0;
  z-index: 1;
}
.main-heading-dark .my-underline::after {
  background-color: rgba(224, 164, 88, 0.5);
}
.main-heading-light .my-underline::after {
  background-color: rgba(131, 142, 145, 0.5);
}
@media (min-width: 768px) {
  .main-heading-dark .my-underline::after,
  .main-heading-light .my-underline::after {
    height: 7px;
  }
}
@media (min-width: 992px) {
  .main-heading-dark .my-underline::after,
  .main-heading-light .my-underline::after {
    height: 8px;
  }
}
/* === Subtitle Design === */
.subtitle-h {
  font-size: var(--subheading-xs);
}
.subtitle-p {
  font-size: var(--paragraph-xs);
  color: #7391a1;
}
@media (min-width: 576px) {
  .subtitle-h {
    font-size: var(--subheading-sm);
  }
  .subtitle-p {
    font-size: var(--paragraph-sm);
    color: #7391a1;
  }
}
@media (min-width: 768px) {
  .subtitle-h {
    font-size: var(--subheading-md);
  }
  .subtitle-p {
    font-size: var(--paragraph-md);
    color: #7391a1;
  }
}
@media (min-width: 992px) {
  .subtitle-h {
    font-size: var(--subheading-lg);
  }
  .subtitle-p {
    font-size: var(--paragraph-lg);
    color: #7391a1;
  }
}
@media (min-width: 1200px) {
  .subtitle-h {
    font-size: var(--subheading-xl);
  }
  .subtitle-p {
    font-size: var(--paragraph-xl);
    color: #7391a1;
  }
}
/* === Navigation Bars Design === */
.nav-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.75rem 1rem;
  position: relative;
  top: 0;
  left: 0;
}
.nav-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--color-dark-primary);
  align-self: flex-end;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.nav-toggle:hover {
  color: var(--color-dark-accent);
}
.nav-menu {
  display: none;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: 1rem;
}
.nav-menu.show {
  display: flex;
}
.nav-item .nav-item-link {
  color: var(--color-dark-primary);
  text-decoration: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  transition-duration: var(--transition-duration);
}
.nav-item .nav-item-link:hover,
.nav-item.active .nav-item-link {
  background-color: #00000033;
  color: var(--color-dark-accent);
}
.nav-item i {
  font-size: 1.25rem;
}
@media (min-width: 768px) and (min-height: 760px) {
  .nav-bar {
    width: 100px;
    min-height: 100vh;
    position: fixed;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    background-color: var(--color-dark-secondary);
    overflow-y: auto;
  }
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    display: flex !important;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
  .nav-item {
    width: 100%;
  }
  .nav-item .nav-item-link {
    color: #fff;
    flex-direction: column;
    font-size: 0.875rem;
    width: 100%;
  }
  .nav-item .nav-item-link:hover,
  .nav-item.active .nav-item-link {
    background-color: transparent !important;
    color: var(--color-dark-accent);
  }
}
.top-nav-bar {
  color: var(--color-dark-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  gap: 1rem;
}
.top-nav-bar .left-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  border: 0.5px solid var(--color-dark-highlight);
  padding: 0.4rem 0.75rem;
  border-radius: var(--border-radius);
}
.top-nav-bar .left-controls .search-bar {
  background: transparent;
  border: none;
  color: var(--color-dark-primary);
  width: 100%;
  outline: none;
  font-size: var(--paragraph-sm);
}
.top-nav-bar .left-controls .search-bar::placeholder {
  color: #aebabf77;
  font-weight: normal !important;
}
.top-nav-bar .left-controls i {
  color: #aebabf77;
  transition: color var(--transition-duration) ease;
}
.top-nav-bar .left-controls:focus-within i {
  color: var(--color-dark-primary);
}
.top-nav-bar .left-controls:focus-within .search-bar {
  text-transform: none !important;
  font-weight: bold;
  color: var(--color-dark-primary);
}
.top-nav-bar .left-controls:focus-within {
  border-color: var(--color-dark-primary);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.05);
}
.top-nav-bar .right-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.top-nav-bar .notif {
  background-color: transparent;
  border: 0.5px solid var(--color-dark-highlight);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.top-nav-bar .notif i {
  position: relative;
}
.top-nav-bar .notif i::after {
  content: "0";
  position: absolute;
  width: 12px;
  height: 12px;
  top: -5px;
  right: -3px;
  border-radius: 50%;
  background-color: var(--color-dark-highlight);
  color: #fff;
  font-weight: bold;
  font-size: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-nav-bar .profile-pic {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
  outline: 4px solid transparent;
  transition-duration: var(--transition-duration);
}
.top-nav-bar .profile-pic:hover {
  outline: 4px solid var(--color-dark-highlight);
}
/* === Custom Link Design === */
.link {
  margin: 40px 0;
}
.link .link-p {
  font-size: var(--paragraph-xs);
  font-weight: bold;
}
@media (min-width: 576px) {
  .link .link-p {
    font-size: var(--paragraph-sm);
  }
}
@media (min-width: 768px) {
  .link .link-p {
    font-size: var(--paragraph-md);
  }
}
@media (min-width: 992px) {
  .link .link-p {
    font-size: var(--paragraph-lg);
  }
}
@media (min-width: 1200px) {
  .link .link-p {
    font-size: var(--paragraph-xl);
  }
}
.link .link-a {
  color: var(--color-accent);
  font-weight: bold;
  text-decoration: my-underline;
  transition-duration: var(--transition-duration);
}
.link .link-a:hover {
  color: var(--color-secondary);
}
/* End Custom Classes */

/* Start Welcome Section */
.wlcm-page .signin-action {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wlcm-page .signin-action .signin-action-quote {
  margin-top: 12px;
  font-size: 1rem;
  color: var(--color-primary);
}
.wlcm-page .main-title {
  width: 100%;
  max-width: 1200px;
  padding: 0;
  text-align: center;
}
.wlcm-page .main-title .main-title-header {
  font-size: 2.3rem;
  line-height: 1.1;
  text-transform: uppercase;
}
.wlcm-page .main-title .main-title-subheader {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .wlcm-page .signin-action .signin-action-quote {
    font-size: clamp(1rem, 2vw, 1.375rem);
  }
  .wlcm-page .main-title .main-title-header {
    font-size: clamp(2.5rem, 6vw, 6rem);
    line-height: 1.2;
  }
  .wlcm-page .main-title .main-title-subheader {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
}
@media (min-width: 1200px) {
  .wlcm-page .main-title .main-title-header {
    font-size: 9.25rem;
  }
  .wlcm-page .main-title .main-title-subheader {
    font-size: 2rem;
  }
}
/* End Welcome Section */

/* Start Signin Section */
.signin-page .header,
.signin-page .signin-form {
  width: 100%;
}
.signin-page .signin-form .sign-form .lost-pass {
  margin-top: 15px;
  color: var(--color-accent);
  font-size: var(--paragraph-xs);
  font-weight: bold;
  text-decoration: my-underline;
  transition-duration: var(--transition-duration);
}
@media (min-width: 768px) {
  .signin-page .signin-form .sign-form .lost-pass {
    font-size: var(--paragraph-sm);
  }
}
.signin-page .signin-form .sign-form .lost-pass:hover {
  color: var(--color-secondary);
}
.signin-page .signin-form .sign-form .line {
  width: 100%;
  position: relative;
}
.signin-page .signin-form .sign-form .line::before,
.signin-page .signin-form .sign-form .line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: calc(50% - var(--paragraph-xl) * 2);
  height: 2px;
  background-color: var(--color-secondary);
}
.signin-page .signin-form .sign-form .line::before {
  left: 0;
}
.signin-page .signin-form .sign-form .line::after {
  right: 0;
}
.signin-page .signin-form .sign-form .line i {
  color: var(--color-secondary);
  font-size: var(--icon-size-xs);
}
@media (min-width: 576px) {
  .signin-page .signin-form .sign-form .line i {
    font-size: var(--icon-size-sm);
  }
}
@media (min-width: 768px) {
  .signin-page .signin-form .sign-form .line i {
    font-size: var(--icon-size-md);
  }
}
@media (min-width: 992px) {
  .signin-page .signin-form .sign-form .line i {
    font-size: var(--icon-size-lg);
  }
}
@media (min-width: 1200px) {
  .signin-page .signin-form .sign-form .line i {
    font-size: var(--icon-size-xl);
  }
}
.signin-page .signin-form .remote-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
}
@media (min-width: 768px) {
  .signin-page .signin-form .remote-signin {
    flex-direction: row;
  }
}
/* End Signin Section */

/* Start Signup Section */
.signup-page .sign-form .caption {
  color: var(--color-accent);
  font-size: var(--subparagraph-xs);
  margin-top: 15px;
}
@media (min-width: 576px) {
  .signup-page .sign-form .caption {
    font-size: var(--subparagraph-sm);
  }
}
@media (min-width: 768px) {
  .signup-page .sign-form .caption {
    font-size: var(--subparagraph-md);
  }
}
@media (min-width: 992px) {
  .signup-page .sign-form .caption {
    font-size: var(--subparagraph-lg);
  }
}
@media (min-width: 1200px) {
  .signup-page .sign-form .caption {
    font-size: var(--subparagraph-xl);
  }
}
.signup-page .sign-form .link {
  margin-bottom: 0;
}
/* End Signup Section */

/* Start Home Section */
.home-page .home-welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}
.home-page .home-welcome .level-info {
  background-color: #000;
  border-radius: var(--border-radius);
  color: #fff;
  padding: 0.5rem 3rem;
}
.home-page .home-welcome .welcome-section {
  margin-top: 1rem;
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page .home-welcome .sold-info {
  background-color: #000;
  border-radius: var(--border-radius);
  color: #fff;
  padding: 0.5rem 3rem;
}
.home-page .home-welcome .welcome-section .rank-p {
  color: var(--color-dark-secondary);
}
.home-page .home-welcome .welcome-section .profile-picture {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 0.5px solid var(--color-dark-secondary);
  margin: 1rem 0;
}
@media (min-width: 768px) {
  .home-page .home-welcome {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    width: 100%;
  }
  .home-page .home-welcome .welcome-section {
    order: 0;
  }
  .home-page .home-welcome .level-info,
  .home-page .home-welcome .sold-info {
    height: fit-content;
  }
}
@media (min-width: 992px) {
  .home-page .home-welcome {
    width: 80%;
  }
}
.quick-links {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 992px) {
  .quick-links {
    width: 80%;
  }
}
.quick-links .quick-link {
  padding: 2rem 2.5rem;
  border: 0.8px solid var(--color-dark-highlight);
  border-radius: var(--border-radius);
  animation-duration: var(--transition-duration);
  position: relative;
}
.quick-links .quick-link:hover {
  background-color: var(--color-dark-bg);
}
.quick-links .quick-link .quick-link-h {
  margin-bottom: 0.5rem;
  font-size: var(--subheading-xs);
}
.quick-links .quick-link .quick-link-p {
  color: var(--color-dark-secondary);
  font-size: var(--paragraph-xs);
  font-weight: normal;
}
@media (min-width: 576px) {
  .quick-links .quick-link .quick-link-h {
    font-size: var(--subheading-sm);
  }
  .quick-links .quick-link .quick-link-p {
    font-size: var(--paragraph-sm);
  }
}
@media (min-width: 768px) {
  .quick-links .quick-link .quick-link-h {
    font-size: var(--subheading-md);
  }
  .quick-links .quick-link .quick-link-p {
    font-size: var(--paragraph-md);
  }
}
@media (min-width: 992px) {
  .quick-links .quick-link .quick-link-h {
    font-size: var(--subheading-lg);
  }
  .quick-links .quick-link .quick-link-p {
    font-size: var(--paragraph-lg);
  }
}
@media (min-width: 1200px) {
  .quick-links .quick-link .quick-link-h {
    font-size: var(--subheading-xl);
  }
  .quick-links .quick-link .quick-link-p {
    font-size: var(--paragraph-xl);
  }
}
.quick-links .quick-link .quick-link-btn {
  background-color: var(--color-dark-bg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  outline: none;
  color: var(--color-dark-primary);
  transition-duration: var(--transition-duration);
  cursor: pointer;
}
.quick-links .quick-link:hover .quick-link-btn {
  background-color: #0a0a0a;
}
/* End Home Section */

/* Mobile First Approach */
@media (min-width: 576px) {
  /* Small screens */
}
@media (min-width: 768px) {
  /* Medium screens */
}
@media (min-width: 992px) {
  /* Large screens */
}
@media (min-width: 1200px) {
  /* Extra large screens */
}
